---
faq:
  - question: HỌC CHỦ ĐỘNG là ai?
    answer: Là nhóm các thực tập sinh, cựu thực tập sinh về IT bởi một số nhân sự làm việc với OpenStack, Linux, Python, Network tại Việt Nam. Hoạt động chính của nhóm là ghi chép lại các kiến thức tìm hiểu được và chia sẻ theo sở thích của từng cá nhân.
  - question: Đối tượng của HỌC CHỦ ĐỘNG là ai?
    answer: Học chủ động là nơi lưu trữ các tài liệu phục vụ các bạn học về Công nghệ thông tin nói riêng cũng như các bạn thích các một trong các lĩnh vực đã được kể tên ở trên.
  - question: Điều kiện tham gia HỌC CHỦ ĐỘNG?
    answer: Học chủ động không có người quản lý, mọi thứ dựa trên sự chủ động của từng cá nhân, tạo ra sự chủ động trong cuộc sống thông qua việc chủ động chia sẻ thông tin.
  - question: Cách thức tham gia nhóm HỌC CHỦ ĐỘNG?
    answer: Đọc các bài viết ở blog, chia sẻ các link hướng dẫn của nhóm hoặc từ đâu đó, tham gia các kênh của nhóm như telegram,facebook, slack và các kênh trong tương lai. Nếu vui xin đóng góp một bài và chăm chút cho nó. 
---

<h1>FAQ</h1>

<section class="faq">
	<ul>
		{% for item in page.faq %}
			<li><a href="#{{ item.question | slugify }}">{{ item.question }}</a></li>
		{% endfor %}
	</ul>

	{% for item in page.faq %}
		<h2 id="{{ item.question | slugify}}">{{ item.question }}<a class="header-link" href="#{{ item.question | slugify }}">#</a></h2>
		{{ item.answer | markdownify }}
	{% endfor %}
</section>
