@import url('https://fonts.googleapis.com/css?family=Poppins:400');

html {font-size: 16px;}

.logo img {
    height: 60px;
    padding-right: 10px;
}

body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
}

p {margin-bottom: 1.250em;}

h1, h2, h3, h4, h5 {
  margin: 1.250em 0 0.64em;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {font-size: 2.441em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}

small, .text_small {font-size: 0.8em;}

.post-preview {
        margin-top: 1rem;
        border-bottom: 1px solid #e0e0e0;
	padding: 1rem 1rem;
    }

.post-preview a{
    color: #4A4A4A;
}

.post-preview a:hover {
    color: #007bff;
}

.post-meta {
    font-family: 'Thasadith', sans-serif;
    color: #666;
    font-size: 14px;
}

.i-left {
    text-decoration: none;	
    display: inline-block;	
}

.i-left:hover {
    text-decoration: none;	

}

.i-right {
    display: inline-block;
    float: right;
}

.i-preview {
	margin-top: 1rem;
}

.read-more {
	float: right;
	color: #0c92f1 !important;
}

.pager div > a:hover {
	color: #0c92f1;
}

.next, .previous {
	margin-top: 5rem;
	text-align: center;
}

/* Tags page */

.tag-btn {
  margin: 5px;
}

#full-tags-list {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#full-tags-list .tag-entry {
  margin: 0 0 15px 25px;
}

#full-tags-list .tag-entry a {
  font-size: 20px;
}

#full-tags-list .tag-entry .entry-date {
  color: #808080;
  font-style: italic;
  font-size: 16px;
}
